
/* Container é a div que contém todos os elementos da página */
.container {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Montserrat;
    padding-bottom: 1.5rem;
    color: #212121 ;
    font-weight: 100;
}

p, input, a {
    font-family: Ubuntu, monospace;
}

.login-help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    padding: 2rem;
}

#button-cadastro {
    margin-top: 2rem;
}

.email-icon {
    margin-right: 12px;
}

.email-icon, .password-icon {
    color:#8e24aa;
}


#brand {
    font-size: 1.8rem;
    text-align: center;
}

#login-header {
    font-size: 1.5rem;
}

#header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 0;
}

#header img {
    padding: 0;
    width: 128px;
    height: 128px;
    margin: 0 auto;
}

.paper {
    padding: 80px;
}