body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  with: 100%
}

.loginForm {
  align-self: center;
  margin: 25px;
}

#loginButton {
  margin-top: 25px;
}

#mainDiv {
  height: 100%;
  width: 100%;
}

#signInPage, #signUpPage, #accountPage, #passwordForgetPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
